# Introduction to Computer Graphics
*.class

# JavaScript Algorithms and Data Structures
node_modules
package-lock.json

# The Rust Programming Language
target
**/*.rs.bk

# The Swift Programming Language
.build
.swiftpm
*.xcodeproj
Packages
Package.resolved

# Tour of the Dart language
.dart_tool/
.packages
pubspec.lock
build/
doc/api/
